<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
   <default>
       <Lordhair_LoginSignup>
           <loginsignup_popup_settings>
               <loginsignup_enable_facebook_login>1</loginsignup_enable_facebook_login>
               <loginsignup_enable_paypal_login>1</loginsignup_enable_paypal_login>
               <loginsignup_facebook_app_id>2582078268766542</loginsignup_facebook_app_id>
               <loginsignup_paypal_client_id>AQnmpCljKkK3ZoJ2MPmlOoNbaf1HP7SA5d3RqPW8TIeA7eQQ99OU4vU2N9Ej8Z86ePAmDLSDnRjUb5td</loginsignup_paypal_client_id>
               <loginsignup_paypal_client_secret>EHHZoBapvtdzRRwSj41f-ukpYouTZ_QNGgInGdF7xtNFYNK_D-Bq2nDsey4TJvW3a-l273xRC5pNvv_Q</loginsignup_paypal_client_secret>
               <loginsignup_paypal_return_url>http://127.0.0.1/m2-migration/lordajaxloginsign/paypalreturn</loginsignup_paypal_return_url>
            </loginsignup_popup_settings>
            <loginsignup_twilio_settings>
                <loginsignup_twilio_number>+16147050991</loginsignup_twilio_number>
                <loginsignup_twilio_sid>AC8ad2f59f7da32de1e6a29be602c7b37b</loginsignup_twilio_sid>
                <loginsignup_twilio_token>3dcc5a5913141eb53be729669a7e1942</loginsignup_twilio_token>
            </loginsignup_twilio_settings>
       </Lordhair_LoginSignup>
   </default>
</config>