<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\View\Options" type="Lordhair\Customizations\Block\Product\View\Options" />
    <preference for="Lordhair\Customizations\Model\Mail\MailInterface" type="Lordhair\Customizations\Model\Mail\Mail" />
    <preference for="Magento\Checkout\Model\Cart" type="Lordhair\Customizations\Model\Cart" />
</config>