<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Lordhair" translate="label" sortOrder="300">
            <label> <![CDATA[Lordhair]]></label>
        </tab>
        <section id="Lordhair_LoginSignup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Login Signup</label>
            <tab>Lordhair</tab>
            <resource>Lordhair_LoginSignup::Lordhair_LoginSignup</resource>
            <group id="loginsignup_popup_settings" translate="label" type="text" sortOrder="0" showInDefault="10" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="loginsignup_image_desktop_upload" translate="label" type="image" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image for Desktop</label>
                    <backend_model>Lordhair\LoginSignup\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">login-lignup</base_url>
                    <comment><![CDATA[Allowed file types: jpg, jpeg, gif, png, svg]]></comment>
                </field>
                <field id="loginsignup_image_mobile_upload" translate="label" type="image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image for Mobile</label>
                    <backend_model>Lordhair\LoginSignup\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">login-lignup</base_url>
                    <comment><![CDATA[Allowed file types: jpg, jpeg, gif, png, svg]]></comment>
                </field>
                <field id="loginsignup_enable_facebook_login" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Facebook Signup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="loginsignup_facebook_app_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Provide Facebook Application ID</label>
                    <validate>required-entry no-whitespace</validate>
                    <depends>
                        <field id="loginsignup_enable_facebook_login">1</field>
                    </depends>
                </field>
                <field id="loginsignup_enable_paypal_login" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Paypal Signup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="loginsignup_paypal_live_sandbox" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Mode</label>
                    <validate>required-entry no-whitespace</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="loginsignup_paypal_client_id" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Provide Paypal Client Id</label>
                    <validate>required-entry no-whitespace</validate>
                    <depends>
                        <field id="loginsignup_enable_paypal_login">1</field>
                    </depends>
                </field>
                <field id="loginsignup_paypal_client_secret" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Provide Paypal Client Secret</label>
                    <validate>required-entry no-whitespace</validate>
                    <depends>
                        <field id="loginsignup_enable_paypal_login">1</field>
                    </depends>
                </field>
                <field id="loginsignup_paypal_return_url" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Provide Paypal Return Url</label>
                    <validate>required-entry no-whitespace validate-url</validate>
                    <depends>
                        <field id="loginsignup_enable_paypal_login">1</field>
                    </depends>
                </field>
            </group>
            <group id="loginsignup_twilio_settings" translate="label" type="text" sortOrder="1" showInDefault="10" showInWebsite="1" showInStore="1">
                <label>Twilio Options</label>
                <field id="loginsignup_twilio_number" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twilio Number</label>
                    <validate>required-entry no-whitespace</validate>
                </field>
                <field id="loginsignup_twilio_sid" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account SID</label>
                    <validate>required-entry no-whitespace</validate>
                </field>
                <field id="loginsignup_twilio_token" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auth Token</label>
                    <validate>required-entry no-whitespace</validate>
                </field>
            </group>
        </section>
    </system>
</config>
